@import 'mixins';
@import 'variables';
$height: 2px;
@mixin span{
    width: 100%;
    height:  $height;
    display: block;
    left: 0px;
}
.wrap{
    display: flex;
    align-items: center;
    cursor: pointer;
    .burger{
        position: relative;
        width: 32px;
        height: 14px;
        span{
            background-color:$primary-color;
            position: absolute;
            transition: all .1s ease-in-out .1s;
        }
        span:nth-child(1){
            @include span;
            top: 0px;
        }
        span:nth-child(2){
            @include span;
            top: calc(50% - 1px);
        }
        span:nth-child(3){
            @include span;
            bottom: 0px;
        }
        
      }
      &:hover{
        .burger span:nth-child(1){
            top: -2px;
        }
        .burger span:nth-child(3){
            bottom: -2px;
        }
      }
    
    .menu{
        margin-left: 10px;
        line-height: 1;
        font-size: 12px;
        font-weight: 600;
    }
}

@include mobile(){
    .menu{
        display: none;
    }
}